.character {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.character__img-container {
  height: 350px;
  width: 350px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 14px;
  border: 3px solid var(--color-gray-600);
}

.character__img-container img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.character__id {
  font-size: 1rem;
  margin-bottom: 14px;
  color: var(--color-gray-600);
}

.character__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 8px;
}

.character__info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.character__info h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-gray-900);
}

.character__info sup {
  max-width: 40ch;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-700);
}

.character__badges {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.character__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  text-wrap: pretty;
  text-align: center;
}

.character__description {
  max-width: 70ch;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-gray-700);
}
