.badge {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--color-black);
  background-color: var(--color-accent);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
