.badge {
  font-weight: 400;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 8px;
  color: var(--color-yellow-800);
  border: 1px solid var(--color-yellow-800);
  transition: all 0.3s ease;
}

.badge:not(:hover) {
  opacity: 0.8;
}
