.hero {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-block: 32px;
}

.hero__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-title);
}

.hero__text {
  max-width: 80ch;
  color: var(--color-subtitle);
}
