.card {
  position: relative;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  background-color: var(--color-foreground);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-8px);
}

.card:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.card:not(:hover) {
  opacity: 0.85;
}

.card__id {
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 4px;
  line-height: 0;
  color: var(--color-yellow-900);
  background-color: var(--color-yellow-300);
}

.card__image {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
  padding: 14px;
}

.card__content h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--color-gray-900);
}

.card__content p {
  text-wrap: pretty;
  font-style: italic;
  color: var(--color-gray-700);
}
