.card {
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
  transform: translateY(-8px);
  transition: transform 0.3s ease-in;
}

.card:not(:hover) {
  opacity: 0.9;
  transition: opacity 0.3s ease-in;
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__gender {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--color-black);
  background-color: var(--color-accent);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card__image-container {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 12px;
}

.card__image-container img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
}

.card__name {
  color: var(--color-title);
}

.card__occupation {
  color: var(--color-subtitle);
  font-style: italic;
}

.card__status {
  color: var(--color-subtitle);
}
