.alert {
  min-width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 20px auto;
  font-weight: bold;
}

.alert--danger {
  background-color: #f8d7da;
  color: #842029;
}

.alert--warning {
  background-color: #fff3cd;
  color: #664d03;
}

.alert--info {
  background-color: #cff4fc;
  color: #055160;
}

.alert--success {
  background-color: #d1e7dd;
  color: #0f5132;
}
