.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: var(--color-accent);
}

.header__title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-black);
}
