.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: #ffcc00;
}

.header__title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}
