.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  padding: 8px 24px;
  z-index: 1;
  box-shadow: var(--shadow-lg);
  color: var(--color-gray-900);
  background-color: var(--color-yellow-300);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav__logo {
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.nav__logo:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.list li {
  padding: 4px;
  cursor: pointer;
}
