*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-title: #25333a;
  --color-subtitle: #828282;
  --color-accent: #ffcc00;
  --color-black: #000
  --color-white: #fff;
  --color-foreground: oklch(98.5% 0.001 106.423);

  --color-gray-900: oklch(14.7% 0.004 49.25);
  --color-gray-800: oklch(26.8% 0.007 34.298);
  --color-gray-700: oklch(44.4% 0.011 73.639);
  --color-gray-600: oklch(70.9% 0.01 56.259);
  --color-gray-500: oklch(55.3% 0.013 58.071);

  --color-yellow-900: oklch(55.4% 0.135 66.442);
  --color-yellow-800: oklch(42.1% 0.095 57.708);
  --color-yellow-700: oklch(55.4% 0.135 66.442);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-400: oklch(85.2% 0.199 91.936);
  --color-yellow-300: oklch(90.5% 0.182 98.111);
  --color-yellow-100: oklch(94.5% 0.129 101.54);

  --shadow-sm: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

body {
  font-family: "Geist", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-gray-900);
}

.description {
  font-size: 1rem;
  max-width: 50ch;
  color: var(--color-gray-700);
}