*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-title: #25333a;
  --color-subtitle: #828282;
  --color-accent: #ffcc00;
  --color-black: #000
  --color-white: #fff;
  --color-foreground: #f5f5f5;
}

body {
  font-family: "Geist", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-gray-900);
}

.description {
  font-size: 1rem;
  max-width: 50ch;
  color: var(--color-gray-700);
}